---
interface Props {
  href?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "secondary";
  text: string;
  onclick?: () => void;
}

const {
  href,
  type = "button",
  variant = "primary",
  text,
  onclick,
} = Astro.props;

const baseStyles = "px-4 py-2 rounded-lg transition-colors font-semibold";
const primaryStyles = "bg-blue-600 text-white hover:bg-blue-700";
const secondaryStyles = "bg-gray-200 text-gray-800 hover:bg-gray-300";
const styles = variant === "primary" ? primaryStyles : secondaryStyles;
---

{
  href ? (
    <a href={href} class={`${baseStyles} ${styles}`}>
      {text}
    </a>
  ) : (
    <button type={type} class={`${baseStyles} ${styles}`} onclick="onclick">
      {text}
    </button>
  )
}
